<div class="row">
  <div class="col-md-6 inspects-new-container">
   <table class="table table-bordered"> 
    <thead>
     <th></th>
     <th>点検項目</th>
     <th>判定</th>
    </thead>
    <tbody>
      <tr>
       <td>1</td>
       <td>BLK型</td>
       <td><%= i.judge1 %></td>
      </tr>
      <tr>
       <td>2</td>
       <td>↓項目追加予定↓</td>
       <td><%= i.judge2 %></td>
      </tr>
    </tbody>
   </table>
  </div>
  <div class="col-md-6 inspects-new-container">
   <table class="table table-bordered"> 
    <thead>
     <th></th>
     <th>点検項目</th>
     <th>判定</th>
    </thead>
    <tbody>
      <tr>
       <td>3</td>
       <td>~~~~~~~~~~~~~~~</td>
       <td><%= i.judge3 %></td>
      </tr>
      <tr>
       <td>4</td>
       <td>↓項目追加予定↓</td>
       <td><%= i.judge4 %></td>
      </tr>
    </tbody>
   </table>
  </div>
 </div> 