<div class="new-wrapper">
  <div class="container">
   <% if params[:check] == "draw" %>
     <%= render partial: 'new', locals:{ inspect: @inspects } %>
   <% elsif params[:check] == "trim" %>  
     <%= render partial: 'new1', locals:{ inspect: @inspects } %>
   <% else params[:check] == "BLK" %>  
     <%= render partial: 'new2', locals:{ inspect: @inspects } %>
   <% end %>  
  </div>    
</div>      
