<div class="new-wrapper" >
  <div class="container">
   <% @inspects.each do|i| %>
    <% if i.check == "draw" %>
     <%= render partial:'show', locals:{ i: i} %>
    <% elsif i.check == "trim" %>
     <%= render partial:'show1', locals:{ i: i} %>
    <% else i.check == "BLK" %>
     <%= render partial:'show2', locals:{ i: i} %>
    <% end %> 
   <% end %>
 </div>     
</div>      