.navbar{
  float: left;
  margin: 30px;
}

.nav {
  margin: 30px;
}

h3{
  color: #ffffff;
}

.navbar-collapse{
  background: #708090;
}


.new-wrapper{
  padding-top: 70px;
}

.table-bordered{
 border: 2px solid #090909;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.alert {
  padding-top: 30px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.text_descrption{
  word-break: break-all;
  width: 500px;
  heigth: 400px;
}

.topic_img{
  object-fit: fill;
}
img {
  width: 450px;
  height: 450px;
  border: 1px solid #000;
}  