.navbar-transparent {
  margin-bottom: 0px;
  background-color: #97cdf3;
  a {
    color: #fff !important;
  }

  .logo{
    padding: 0px;
    margin-top: 15px;
    color: #fff 
  }
}


.new-wrapper{
  padding-top: 150px;
}

.table-bordered{
 border: 2px solid #090909;
}
